body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

body {
  background: #848484;
  font-size: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  outline: none;
}

.board-list {
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
}

.boards {
  display: flex;
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 0;
  left: 0;
}

.board {
  margin: 12px;
  margin-left: 0;
  position: relative;
  flex-grow: 1;
}

.board:first-child {
  margin-left: 12px;
}

.name,
.scores,
.total {
  border: none;
  display: block;
  font-size: 1em;
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.name,
.score,
.score button,
.close,
.close:before,
.plus {
  transition: all .5s ease;
}

.name {
  background: #28361B;
  color: #FFF;
  height: 2.6em;
  line-height: 1em;
  padding: .8em;
  top: 0;
}

.name:focus {
  background: #506B38;
}

.scores {
  background: #d3d3d3;
  color: #28361B;
  cursor: cell;
  overflow: scroll;
  top: 2.6em;
  bottom: 3em;
}

.score {
  cursor: text;
  padding: 4px 10px;
  position: relative;
}

.score:first-child {
  padding-top: 8px;
}

.score:hover {
  background: #c1c1c1;
}

.score.editing {
  background: #FFF;
  padding: 8px 10px;
}

.score input {
  background: none;
  border: none;
  color: #333;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.score button {
  color: #878787;
  display: none;
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -0.75em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
}

.score:hover button,
.editing button {
  display: block;
}

.score button:hover {
  color: #444;
}

.total {
  background: #333;
  bottom: 0;
  color: #FFF;
  padding: 0 .8em;
  height: 3em;
  line-height: 3em;
}

.total span {
  font-size: 1.5em;
}

.close {
  color: #a3a3a3;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.close:hover,
.close:focus {
  color: #FFF;
}

.close:before {
  border-top: solid 1.1em rgba(0, 0, 0, 0.5);
  border-right: solid 1.1em rgba(0, 0, 0, 0.5);
  border-bottom: solid 1.1em transparent;
  border-left: solid 1.1em transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
}

.close:hover:before {
  border-top-color: rgba(0, 0, 0, 0.8);
  border-right-color: rgba(0, 0, 0, 0.8);
}

.close span {
  position: relative;
  top: 1px;
  right: 1px;
}

.plus {
  background: #28361B;
  color: #d3d3d3;
  font-size: 2em;
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  width: 48px;
  line-height: 100%;
}

.plus:hover,
.plus:focus {
  background: #506B38;
}
