body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

body {
  background: #848484;
  font-size: 20px;
  padding-top: 32px;
}

.boards {
  display: flex;
  position: absolute;
  top: 32px;
  right: 60px;
  bottom: 0;
  left: 0;
}

.board {
  margin: 12px;
  margin-left: 0;
  position: relative;
  flex-grow: 1;
}

.board:first-child {
  margin-left: 12px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  outline: none;
}

.name,
.scores,
.total {
  border: none;
  display: block;
  font-size: 1em;
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.name {
  background: #28361B;
  color: #FFF;
  height: 2.6em;
  line-height: 1em;
  padding: .8em;
  top: 0;
}

.name:focus {
  background: #506B38;
}

.scores {
  background: #d3d3d3;
  color: #28361B;
  cursor: cell;
  padding: .5em;
  top: 2.6em;
  bottom: 2.6em;
}

.score {
  border-radius: 3px;
}

.score:hover {
  background: #b3b3b3;
}

.score.editing {
  background: #626262;
}

.score input {
  background: none;
  border: none;
  color: #333;
  font-size: 1em;
  outline: none;
  padding: 5px;
  width: 100%;
}

.editing input {
  color: #FFF;
}

.total {
  background: #333;
  bottom: 0;
  color: #FFF;
  padding: .8em;
  height: 2.6em;
  line-height: 1em;
}

.close {
  color: #c7c7c7;
  font-size: 1.2em;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.close:hover,
.close:focus {
  color: #FFF;
}

.close:focus {
  outline: solid 2px #a2a2a2;
}

input:focus + .close {
  display: none;
}

.plus {
  background: #28361B;
  color: #d3d3d3;
  font-size: 2em;
  position: absolute;
  top: 44px;
  right: 12px;
  bottom: 12px;
  width: 48px;
  line-height: 100%;
}

.plus:hover,
.plus:focus {
  background: #506B38;
}
