<div class="container">
    <h1>CRB Apps</h1>

    <ul>
        <li><a href="/aquarium">Aquarium</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/randomize">List Randomizer</a></li>
        <li><a href="/randpass">Random Password Creator</a></li>
        <li><a href="/scorekeeper">Score Keeper</a></li>
    </ul>
</div>