<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/shared/css/styles.css" />
    <% if @asset_path %>
        <link rel="stylesheet" href="/<%= @asset_path %>/css/styles.css" />
    <% end %>
</head>
<body>

    <%= yield %>

    <script type="text/javascript" src="/shared/js/google-analytics.js"></script>

</body>
</html>