<div class="nav">
    <ul class="clearfix">
        <li><a href="/"><strong>CRB Apps</strong></a></li>
        <li><a href="/aquarium">Aquarium</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/randomize">List Randomizer</a></li>
        <li><a href="/randpass">Random Password</a></li>
        <li><a href="/scorekeeper">Scorekeeper</a></li>
    </ul>
</div>
