<h2>input</h2>
<form name ="myForm" id="myForm" method="post" action="" onSubmit="submitAction();">
	<textarea name="myTextArea" id="myTextArea" value=""></textarea>
</form>

<a id="randomizer" href="#">Randomize!</a>

<h2>results</h2>
<div id="results"></div>

<script type="text/javascript" src="/randomize/js/randomize.js"></script>