.container {
  padding: 1.25em 2em;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.container li {
  line-height: 2;
  margin: 0.7em 0;
}

.container a {
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
}

.container a:hover,
.container a:focus {
  color: #AA3838;
}
