---
layout: default
renderData:
  title: "Groups"
  dir: "groups"
  favicon: "/groups/favicon.ico"
  sharedCss: "/groups/shared.css"
  css: true
  manifest: true
---

<div class="container">
  <form>
    <fieldset>
      <label for="number-of-people"># People</label>
      <input id="number-of-people" value="3" min="3" inputmode="numeric">
    </fieldset>
    <fieldset>
      <label for="number-per-group"># Per Group</label>
      <input id="number-per-group" value="2" min="1" inputmode="numeric">
    </fieldset>
    <fieldset>
      <button type="submit" id="make-groups">Make Groups</button>
    </fieldset>
  </form>

  <div class="results">
    <h2>Groups</h2>
    <ul id="results-list"></ul>
  </div>
</div>

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/groups/service-worker.js')
    .then((reg) => console.log('SW registered!', reg))
    .catch((error) => console.log('Error:', error))
  }
</script>

<script src="/groups/groups.js"></script>
