---
layout: default
renderData:
  title: "List Randomizer"
  dir: "randomize"
  css: true
---

<div class="container">
  <h2>input</h2>
  <form method="post" action="">
    <textarea name="list" id="list" class="list" value=""></textarea>
  </form>

  <a id="randomizer" href="#">Randomize!</a>

  <h2>results</h2>
  <div id="results" class="results"></div>

  <script src="/randomize/randomize.js"></script>
</div>
