---
layout: default
renderData:
  title: "Random Password"
---

<div class="container" style="padding: 20px;">
  <div id="password"></div>
</div>

<script src="/static/vendor/underscore.js"></script>
<script src="/static/js/randpass.js"></script>
