---
layout: default
renderData:
  title: "Random Password"
  dir: "randpass"
---

<div class="container" style="padding: 20px;">
  <div id="password"></div>
</div>

<script src="/randpass/underscore.js"></script>
<script src="/randpass/randpass.js"></script>
