---
title: Aquarium
css: aquarium
---

<div id="aquarium">
    <button id="new-fish">New Fish</button>
</div>

<script type="text/template" id="fish">

    <div class="head">
        <div class="head-top"></div>
        <div class="mouth"></div>
    </div>

    <div class="tail"></div>

    <ul class="options">
        <li title="Delete" class="delete">Delete</li>
        <li title="Change Color" class="change-color">Change Color</li>
    </ul>

</script>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' %>
<%= javascript_include_tag 'vendor/underscore' %>
<%= javascript_include_tag 'vendor/backbone'  %>
<%= javascript_include_tag 'aquarium/aquarium' %>
