---
title: Scorekeeper
css: scorekeeper
---

<a href="#" id="plus" class="plus">+</a>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' %>
<%= javascript_include_tag 'scorekeeper/scorekeeper' %>
